{% extends 'base.html' %}
{% block extrascripts %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#id_expirationDate" ).datepicker();
		});
	</script>
{% endblock %}

{% block title %}Edit post{% endblock %}
{% block content %}
	{% if messages %}
		<div class="alert alert-success">
    		{% for message in messages %}
    			{{ message }}
    		{% endfor %}
		</div>
	{% endif %}
	<h2>Post a job</h2>
	<form action="{% url 'board:editPost' post.id %}" method="POST" id="postForm">
		<table class="table">
			{% csrf_token %}
			{{ form.as_table }}
			<tr>
				<td colspan="2">
					<button type="submit" class="btn btn-primary pull-right">Update Job</button>
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
