{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Job Board{% endblock %} 

{% block extrascripts %}
{% endblock %}

{% block content %}
	{% if messages %}
		<div class="alert alert-success">
    		{% for message in messages %}
    			{{ message }}
    		{% endfor %}
		</div>
	{% endif %}
	<h2>Recent job listings</h2>
	<table class="table table-striped">
		{% for post in posts %}
		<tr>
			<td class="clearfix">
				<div class="pull-left">
					<div><a href="{% url 'board:detail' post.id %}"><h3>{{ post.title }}</h3></a></div>
					<div>{{ post.profile.companyName }}</div>
				</div>
				<div class="pull-right" style="margin: 7px 0 0 50px;">
					<div>Detail Views</div>
					<div class="text-center"><span class="badge">{{ post.views }}</span></div>
				</div>
				<div class="pull-right" style="margin: 7px 0 0 50px;">
					<div>{{ post.jobType }}</div>
					<div>{{ post.wage }}</div>
				</div> 
				<div class="pull-right" style="margin: 7px 0 0 10px;">
					<div>Published: {{ post.publishDate }}</div>
					<div>Expires: &nbsp; &nbsp; {{ post.expirationDate }}</div>
				</div> 
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}

