<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Job Board {% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <!-- see http://netdna.bootstrapcdn.com/#bootswatch for some other "flavors" to try -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        
		<!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <style type="text/css">
			ul.nav li.dropdown:hover ul.dropdown-menu{display: block;}
			body{padding-top: 25px;}
			.container{width: 1000px;}
			h2 {margin: 0 0 15px 10px; color: rgb(50, 118, 177);}
			h4 {margin: 5px 0 0 0; color: rgb(50,118,177);}
		</style>
		
        {% block extrascripts %}{% endblock %}
    </head>
    <body>
	<!-- Static navbar -->
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Job Board</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Employers <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% if not user.is_authenticated %}
									<li><a href="{% url 'auth_login' %}">Login</a></li>
									<li><a href="{% url 'registration_register' %}">Register</a></li>
									<li><a href="{% url 'board:post' %}">Post a job</a></li>
								{% else %}
									<li><a href="{% url 'auth_logout' %}">Logout</a></li>
									<li class="divider"></li>
									<li><a href="{% url 'board:profile' %}">Company profile</a></li>
									<li><a href="{% url 'board:post' %}">Post a job</a></li>
									<li><a href="{% url 'board:myPosts' %}">My job posts</a></li>
								{% endif %}
							</ul>
						</li>
						<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Seekers <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'board:subscribe' %}">Subscribe</a></li>
								<li><a href="{% url 'board:unsubscribe' %}">Unsubscribe</a></li>
								<li><a href="{% url 'board:index' %}">View job posts</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if not user.is_authenticated %}
							<li><a href="{% url 'auth_login' %}">Employer Login</a></li>
							<li><a href="{% url 'registration_register' %}">Register</a></li>
						{% else %}
							{% if user.is_staff %}
								<li><a href="/admin/">Admin</a></li>
							{% endif %}
							<li><a href="{% url 'auth_logout' %}">Logout</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>	
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
